kirona-drs-gateway/soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SOAP" targetNamespace="http://autogenerated.OTWebServiceApi.xmbrace.com/" xmlns:ns1="http://autogenerated.OTWebServiceApi.xmbrace.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://autogenerated.OTWebServiceApi.xmbrace.com/" xmlns:tns="http://autogenerated.OTWebServiceApi.xmbrace.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="XmbAbility" type="tns:ability"/>
      <xs:element name="XmbAlert" type="tns:alert"/>
      <xs:element name="XmbAvailableDay" type="tns:availableDay"/>
      <xs:element name="XmbAvailablePeriod" type="tns:availablePeriod"/>
      <xs:element name="XmbBooking" type="tns:booking"/>
      <xs:element name="XmbBookingCode" type="tns:bookingCode"/>
      <xs:element name="XmbBookingCodeDefinition" type="tns:bookingCodeDefinition"/>
      <xs:element name="XmbBusinessData" type="tns:businessData"/>
      <xs:element name="XmbBusinessDataDefinition" type="tns:businessDataDefinition"/>
      <xs:element name="XmbCheckAvailability" type="tns:xmbCheckAvailability"/>
      <xs:element name="XmbCheckAvailabilityResponse" type="tns:xmbCheckAvailabilityResponse"/>
      <xs:element name="XmbCloseSession" type="tns:xmbCloseSession"/>
      <xs:element name="XmbCloseSessionResponse" type="tns:xmbCloseSessionResponse"/>
      <xs:element name="XmbCommand" type="tns:command"/>
      <xs:element name="XmbCommandResponse" type="tns:commandResponse"/>
      <xs:element name="XmbCompleteOrder" type="tns:xmbCompleteOrder"/>
      <xs:element name="XmbCompleteOrderResponse" type="tns:xmbCompleteOrderResponse"/>
      <xs:element name="XmbConfirmReservation" type="tns:xmbConfirmReservation"/>
      <xs:element name="XmbConfirmReservationResponse" type="tns:xmbConfirmReservationResponse"/>
      <xs:element name="XmbCreateBooking" type="tns:xmbCreateBooking"/>
      <xs:element name="XmbCreateBookingResponse" type="tns:xmbCreateBookingResponse"/>
      <xs:element name="XmbCreateOrder" type="tns:xmbCreateOrder"/>
      <xs:element name="XmbCreateOrderResponse" type="tns:xmbCreateOrderResponse"/>
      <xs:element name="XmbCreateReservation" type="tns:xmbCreateReservation"/>
      <xs:element name="XmbCreateReservationResponse" type="tns:xmbCreateReservationResponse"/>
      <xs:element name="XmbDaySlotsInfo" type="tns:daySlotsInfo"/>
      <xs:element name="XmbDeleteBooking" type="tns:xmbDeleteBooking"/>
      <xs:element name="XmbDeleteBookingResponse" type="tns:xmbDeleteBookingResponse"/>
      <xs:element name="XmbDeleteOrder" type="tns:xmbDeleteOrder"/>
      <xs:element name="XmbDeleteOrderResponse" type="tns:xmbDeleteOrderResponse"/>
      <xs:element name="XmbGetSchedule" type="tns:xmbGetSchedule"/>
      <xs:element name="XmbGetScheduleResponse" type="tns:xmbGetScheduleResponse"/>
      <xs:element name="XmbLocation" type="tns:location"/>
      <xs:element name="XmbLocationLine" type="tns:locationLine"/>
      <xs:element name="XmbOpenSession" type="tns:xmbOpenSession"/>
      <xs:element name="XmbOpenSessionResponse" type="tns:xmbOpenSessionResponse"/>
      <xs:element name="XmbOrder" type="tns:order"/>
      <xs:element name="XmbOrderPattern" type="tns:orderPattern"/>
      <xs:element name="XmbResource" type="tns:resource"/>
      <xs:element name="XmbResourceTemplate" type="tns:resourceTemplate"/>
      <xs:element name="XmbScheduleBooking" type="tns:xmbScheduleBooking"/>
      <xs:element name="XmbScheduleBookingResponse" type="tns:xmbScheduleBookingResponse"/>
      <xs:element name="XmbSector" type="tns:sector"/>
      <xs:element name="XmbSelectAlerts" type="tns:xmbSelectAlerts"/>
      <xs:element name="XmbSelectAlertsResponse" type="tns:xmbSelectAlertsResponse"/>
      <xs:element name="XmbSelectBooking" type="tns:xmbSelectBooking"/>
      <xs:element name="XmbSelectBookingResponse" type="tns:xmbSelectBookingResponse"/>
      <xs:element name="XmbSelectMetaData" type="tns:xmbSelectMetaData"/>
      <xs:element name="XmbSelectMetaDataResponse" type="tns:xmbSelectMetaDataResponse"/>
      <xs:element name="XmbSelectOrder" type="tns:xmbSelectOrder"/>
      <xs:element name="XmbSelectOrderResponse" type="tns:xmbSelectOrderResponse"/>
      <xs:element name="XmbSelectResource" type="tns:xmbSelectResource"/>
      <xs:element name="XmbSelectResourceResponse" type="tns:xmbSelectResourceResponse"/>
      <xs:element name="XmbSlotInfo" type="tns:slotInfo"/>
      <xs:element name="XmbUnavailability" type="tns:unavailability"/>
      <xs:element name="XmbUnavailabilityReason" type="tns:unavailabilityReason"/>
      <xs:element name="XmbUpdateBooking" type="tns:xmbUpdateBooking"/>
      <xs:element name="XmbUpdateBookingCode" type="tns:xmbUpdateBookingCode"/>
      <xs:element name="XmbUpdateBookingCodeResponse" type="tns:xmbUpdateBookingCodeResponse"/>
      <xs:element name="XmbUpdateBookingResponse" type="tns:xmbUpdateBookingResponse"/>
      <xs:element name="XmbUpdateLocation" type="tns:xmbUpdateLocation"/>
      <xs:element name="XmbUpdateLocationResponse" type="tns:xmbUpdateLocationResponse"/>
      <xs:element name="XmbUpdateOrder" type="tns:xmbUpdateOrder"/>
      <xs:element name="XmbUpdateOrderResponse" type="tns:xmbUpdateOrderResponse"/>
      <xs:element name="XmbUpdateResource" type="tns:xmbUpdateResource"/>
      <xs:element name="XmbUpdateResourceResponse" type="tns:xmbUpdateResourceResponse"/>
      <xs:element name="XmbWorkingHour" type="tns:workingHour"/>
      <xs:complexType name="entity">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="command">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element default="0" name="id" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbUpdateResource">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="contract" type="xs:string"/>
              <xs:element name="sessionId" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theResources" type="tns:resource"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="resource">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element name="bookingId" type="xs:int"/>
              <xs:element name="externalResourceCode" type="xs:string"/>
              <xs:element name="isResourceLocked" type="xs:boolean"/>
              <xs:element name="lockResource" type="xs:boolean"/>
              <xs:element name="orderId" type="xs:int"/>
              <xs:element minOccurs="0" name="primaryOrderNumber" type="xs:string"/>
              <xs:element minOccurs="0" name="resourceID" type="xs:string"/>
              <xs:element minOccurs="0" name="resourceName" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theAbilities" type="tns:ability"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBusinessData" type="tns:businessData"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theSectors" type="tns:sector"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theUnavailabilities" type="tns:unavailability"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theWorkingHours" type="tns:workingHour"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ability">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="availablePeriods" type="tns:availablePeriod"/>
              <xs:element minOccurs="0" name="name" type="xs:string"/>
              <xs:element minOccurs="0" name="resourceTemplate" type="xs:string"/>
              <xs:element minOccurs="0" name="type" type="xs:string"/>
              <xs:element minOccurs="0" name="value" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="values" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="availablePeriod">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="availableDays" type="tns:availableDay"/>
              <xs:element minOccurs="0" name="beginDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="availableDay">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="beginTime" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="dayType" type="tns:dayOfWeek"/>
              <xs:element minOccurs="0" name="endTime" type="xs:dateTime"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="businessData">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="name" type="xs:string"/>
              <xs:element minOccurs="0" name="targetObject" type="tns:objectType"/>
              <xs:element minOccurs="0" name="value" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="sector">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="country" type="xs:string"/>
              <xs:element minOccurs="0" name="latitude" type="xs:string"/>
              <xs:element minOccurs="0" name="longitude" type="xs:string"/>
              <xs:element minOccurs="0" name="name" type="xs:string"/>
              <xs:element minOccurs="0" name="postCode" type="xs:string"/>
              <xs:element minOccurs="0" name="priority" type="tns:sectorPriority"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="unavailability">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="beginDateTime" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="comments" type="xs:string"/>
              <xs:element minOccurs="0" name="endDateTime" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="reason" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="workingHour">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="beginDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="dayOfWeek" type="xs:string"/>
              <xs:element minOccurs="0" name="effectiveEndDate" type="xs:string"/>
              <xs:element minOccurs="0" name="effectiveStartDate" type="xs:string"/>
              <xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="endPostCode" type="xs:string"/>
              <xs:element minOccurs="0" name="lunchBreakBeginDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="lunchBreakEndDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="specificDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="startPostCode" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="commandResponse">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="debugStackTrace" type="xs:string"/>
              <xs:element minOccurs="0" name="errorMsg" type="xs:string"/>
              <xs:element default="0" name="id" type="xs:int"/>
              <xs:element minOccurs="0" name="status" type="tns:responseStatus"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbUpdateResourceResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbUpdateBooking">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element minOccurs="0" name="actionTaken" type="xs:string"/>
              <xs:element minOccurs="0" name="bookingCategory" type="xs:string"/>
              <xs:element name="completeOrder" type="xs:boolean"/>
              <xs:element name="endDateAndTime" type="xs:dateTime"/>
              <xs:element name="resourceId" type="xs:string"/>
              <xs:element name="sessionId" type="xs:string"/>
              <xs:element name="startDateAndTime" type="xs:dateTime"/>
              <xs:element name="theBooking" type="tns:booking"/>
              <xs:element minOccurs="0" name="theFollowOnBooking" type="tns:booking"/>
              <xs:element name="transactionType" type="tns:transactionTypeType"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="booking">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="assignedEnd" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="assignedStart" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="bookingCategory" type="xs:string"/>
              <xs:element minOccurs="0" name="bookingCompletionStatus" type="xs:string"/>
              <xs:element name="bookingId" type="xs:int"/>
              <xs:element minOccurs="0" name="bookingLifeCycleStatus" type="tns:transactionTypeType"/>
              <xs:element default="first" name="bookingReason" type="xs:string"/>
              <xs:element name="contract" type="xs:string"/>
              <xs:element name="duration" type="xs:int"/>
              <xs:element name="isEmergency" type="xs:boolean"/>
              <xs:element name="isNextBooking" type="xs:boolean"/>
              <xs:element name="locationID" type="xs:string"/>
              <xs:element minOccurs="0" name="operatorComments" type="xs:string"/>
              <xs:element name="orderId" type="xs:int"/>
              <xs:element minOccurs="0" name="plannerComments" type="xs:string"/>
              <xs:element name="planningWindowEnd" type="xs:dateTime"/>
              <xs:element name="planningWindowStart" type="xs:dateTime"/>
              <xs:element name="primaryOrderNumber" type="xs:string"/>
              <xs:element minOccurs="0" name="secondaryOrderNumber" type="xs:string"/>
              <xs:element minOccurs="0" name="template" type="xs:string"/>
              <xs:element minOccurs="0" name="tertiaryOrderNumber" type="xs:string"/>
              <xs:element maxOccurs="unbounded" name="theBookingCodes" type="tns:bookingCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBusinessData" type="tns:businessData"/>
              <xs:element minOccurs="0" name="theOrder" type="tns:order"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theOtherBookingsForThisOrder" type="tns:booking"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theResources" type="tns:resource"/>
              <xs:element minOccurs="0" name="tokenId" type="xs:string"/>
              <xs:element minOccurs="0" name="uniqueBookingId" type="xs:string"/>
              <xs:element name="userId" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="bookingCode">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="bookingCodeDescription" type="xs:string"/>
              <xs:element name="bookingCodeSORCode" type="xs:string"/>
              <xs:element name="bookingId" type="xs:int"/>
              <xs:element minOccurs="0" name="comments" type="xs:string"/>
              <xs:element name="itemNumberWithinBooking" type="xs:string"/>
              <xs:element minOccurs="0" name="itemValue" type="xs:string"/>
              <xs:element name="orderId" type="xs:int"/>
              <xs:element name="primaryOrderNumber" type="xs:string"/>
              <xs:element name="quantity" type="xs:string"/>
              <xs:element minOccurs="0" name="reference" type="xs:string"/>
              <xs:element minOccurs="0" name="standardMinuteValue" type="xs:string"/>
              <xs:element minOccurs="0" name="trade" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="order">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="contactName" type="xs:string"/>
              <xs:element name="contract" type="xs:string"/>
              <xs:element minOccurs="0" name="earliestBookingDate" type="xs:dateTime"/>
              <xs:element name="locationID" type="xs:string"/>
              <xs:element default="false" name="message" type="xs:boolean"/>
              <xs:element name="orderComments" type="xs:string"/>
              <xs:element minOccurs="0" name="orderCommentsExtended" type="xs:string"/>
              <xs:element name="orderId" type="xs:int"/>
              <xs:element minOccurs="0" name="phone" type="xs:string"/>
              <xs:element name="primaryOrderNumber" type="xs:string"/>
              <xs:element name="priority" type="xs:string"/>
              <xs:element minOccurs="0" name="reasonCode" type="xs:string"/>
              <xs:element minOccurs="0" name="secondaryOrderNumber" type="xs:string"/>
              <xs:element minOccurs="0" name="status" type="tns:orderStatus"/>
              <xs:element minOccurs="0" name="subcontract" type="xs:string"/>
              <xs:element name="targetDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="tertiaryOrderNumber" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBookingCodes" type="tns:bookingCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBookings" type="tns:booking"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBusinessData" type="tns:businessData"/>
              <xs:element name="theLocation" type="tns:location"/>
              <xs:element name="userId" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="location">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element name="address1" type="xs:string"/>
              <xs:element minOccurs="0" name="address2" type="xs:string"/>
              <xs:element minOccurs="0" name="address3" type="xs:string"/>
              <xs:element minOccurs="0" name="address4" type="xs:string"/>
              <xs:element minOccurs="0" name="agency" type="xs:string"/>
              <xs:element minOccurs="0" name="areaCode" type="xs:string"/>
              <xs:element minOccurs="0" name="citizenCode" type="xs:string"/>
              <xs:element minOccurs="0" name="citizensName" type="xs:string"/>
              <xs:element minOccurs="0" name="city" type="xs:string"/>
              <xs:element minOccurs="0" name="contract" type="xs:string"/>
              <xs:element minOccurs="0" name="country" type="xs:string"/>
              <xs:element minOccurs="0" name="customerCategory" type="xs:string"/>
              <xs:element minOccurs="0" name="customerType" type="xs:string"/>
              <xs:element default="false" name="excludedFromMsging" type="xs:boolean"/>
              <xs:element minOccurs="0" name="latitude" type="xs:string"/>
              <xs:element name="locationId" type="xs:string"/>
              <xs:element minOccurs="0" name="locationSequenceNo" type="xs:string"/>
              <xs:element minOccurs="0" name="longitude" type="xs:string"/>
              <xs:element minOccurs="0" name="messagingType" type="xs:string"/>
              <xs:element name="name" type="xs:string"/>
              <xs:element minOccurs="0" name="number" type="xs:string"/>
              <xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
              <xs:element name="postCode" type="xs:string"/>
              <xs:element minOccurs="0" name="street" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBusinessData" type="tns:businessData"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theLocationLines" type="tns:locationLine"/>
              <xs:element name="workflowType" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="locationLine">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="citizensName" type="xs:string"/>
              <xs:element name="lineCode" type="xs:string"/>
              <xs:element name="lineDescription" type="xs:string"/>
              <xs:element name="locationId" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbUpdateBookingResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="theBooking" type="tns:booking"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbDeleteOrder">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element name="sessionId" type="xs:string"/>
              <xs:element name="theOrder" type="tns:order"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbDeleteOrderResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="theOrder" type="tns:order"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbUpdateBookingCode">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="contract" type="xs:string"/>
              <xs:element name="sessionId" type="xs:string"/>
              <xs:element maxOccurs="unbounded" name="theBookingCodeDefinitions" type="tns:bookingCodeDefinition"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="bookingCodeDefinition">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element name="bookingCode" type="xs:string"/>
              <xs:element name="bookingCodeDescription" type="xs:string"/>
              <xs:element name="bookingCodeTime" type="xs:int"/>
              <xs:element name="contract" type="xs:string"/>
              <xs:element default="false" minOccurs="0" name="serviceRequirement" type="xs:string"/>
              <xs:element minOccurs="0" name="trade" type="xs:string"/>
              <xs:element default="0000" minOccurs="0" name="workflowType" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbUpdateBookingCodeResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbSelectAlerts">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="alertType" type="tns:alertTypeType"/>
              <xs:element maxOccurs="unbounded" name="contract" type="xs:string"/>
              <xs:element minOccurs="0" name="periodBegin" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="periodEnd" type="xs:dateTime"/>
              <xs:element name="sessionId" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbSelectAlertsResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theAlerts" type="tns:alert"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="alert">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="comments" type="xs:string"/>
              <xs:element minOccurs="0" name="createDateTime" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="reason" type="tns:alertTypeType"/>
              <xs:element minOccurs="0" name="theBooking" type="tns:booking"/>
              <xs:element minOccurs="0" name="theOrder" type="tns:order"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theResources" type="tns:resource"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbCompleteOrder">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element name="contract" type="xs:string"/>
              <xs:element name="primaryOrderNumber" type="xs:string"/>
              <xs:element name="sessionId" type="xs:string"/>
              <xs:element name="userId" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbCompleteOrderResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbSelectResource">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="contract" type="xs:string"/>
              <xs:element name="includeWorkingHours" type="xs:boolean"/>
              <xs:element minOccurs="0" name="returnWorkingHoursFrom" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="returnWorkingHoursTo" type="xs:dateTime"/>
              <xs:element name="sessionId" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBusinessData" type="tns:businessData"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theEmployeeCodes" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theResourceIDContracts" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theResourceIDs" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbSelectResourceResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theResources" type="tns:resource"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbSelectMetaData">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element name="contract" type="xs:string"/>
              <xs:element name="sessionId" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbSelectMetaDataResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBusinessDataDefinitions" type="tns:businessDataDefinition"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theResourceTemplates" type="tns:resourceTemplate"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theUnavailabilityReasons" type="tns:unavailabilityReason"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="businessDataDefinition">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="businessDataType" type="xs:string"/>
              <xs:element minOccurs="0" name="dataTypeList" type="tns:typeOfList"/>
              <xs:element minOccurs="0" name="defaultValue" type="xs:string"/>
              <xs:element minOccurs="0" name="description" type="xs:string"/>
              <xs:element name="mandatory" type="xs:boolean"/>
              <xs:element name="multiLine" type="xs:boolean"/>
              <xs:element minOccurs="0" name="name" type="xs:string"/>
              <xs:element minOccurs="0" name="type" type="tns:dataTypeType"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="values" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="resourceTemplate">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="name" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theAbilities" type="tns:ability"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="unavailabilityReason">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="description" type="xs:string"/>
              <xs:element minOccurs="0" name="name" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbCreateReservation">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element name="bookingId" type="xs:int"/>
              <xs:element name="force" type="xs:boolean"/>
              <xs:element minOccurs="0" name="resourceLock" type="tns:bookingResourceLock"/>
              <xs:element name="sessionId" type="xs:string"/>
              <xs:element name="theBooking" type="tns:booking"/>
              <xs:element name="timeLock" type="xs:boolean"/>
              <xs:element name="userId" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbCreateReservationResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbUpdateLocation">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element name="sessionId" type="xs:string"/>
              <xs:element name="theLocation" type="tns:location"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbUpdateLocationResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="theLocation" type="tns:location"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbDeleteBooking">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element name="sessionId" type="xs:string"/>
              <xs:element name="theBooking" type="tns:booking"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbDeleteBookingResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="theBooking" type="tns:booking"/>
              <xs:element minOccurs="0" name="theOrder" type="tns:order"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbUpdateOrder">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element name="sessionId" type="xs:string"/>
              <xs:element name="theOrder" type="tns:order"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbUpdateOrderResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="theOrder" type="tns:order"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbConfirmReservation">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element name="bookingId" type="xs:int"/>
              <xs:element name="force" type="xs:boolean"/>
              <xs:element minOccurs="0" name="resourceLock" type="tns:bookingResourceLock"/>
              <xs:element name="sessionId" type="xs:string"/>
              <xs:element name="theBooking" type="tns:booking"/>
              <xs:element name="timeLock" type="xs:boolean"/>
              <xs:element name="userId" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbConfirmReservationResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbScheduleBooking">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element name="force" type="xs:boolean"/>
              <xs:element minOccurs="0" name="resourceLock" type="tns:bookingResourceLock"/>
              <xs:element name="sessionId" type="xs:string"/>
              <xs:element name="theBooking" type="tns:booking"/>
              <xs:element name="timeLock" type="xs:boolean"/>
              <xs:element name="userId" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbScheduleBookingResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbCreateOrder">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element name="sessionId" type="xs:string"/>
              <xs:element name="theOrder" type="tns:order"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbCreateOrderResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="theOrder" type="tns:order"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbSelectOrder">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="contract" type="xs:string"/>
              <xs:element default="false" name="includeCompletedBookings" type="xs:boolean"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="locationIDContracts" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="locationIDs" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="primaryOrderNumber" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="primaryOrderNumberContracts" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="resources" type="xs:string"/>
              <xs:element minOccurs="0" name="returnBookingsFrom" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="returnBookingsTo" type="xs:dateTime"/>
              <xs:element name="sessionId" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBusinessData" type="tns:businessData"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBusinessDataContracts" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbSelectOrderResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theOrders" type="tns:order"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theResources" type="tns:resource"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbCloseSession">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element name="sessionId" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbCloseSessionResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbGetSchedule">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element name="contract" type="xs:string"/>
              <xs:element name="resourceId" type="xs:string"/>
              <xs:element name="returnBookingCodes" type="xs:boolean"/>
              <xs:element name="returnWarnings" type="xs:boolean"/>
              <xs:element name="scheduleDate" type="xs:dateTime"/>
              <xs:element name="sessionId" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbGetScheduleResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBookings" type="tns:booking"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbCreateBooking">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element name="sessionId" type="xs:string"/>
              <xs:element name="theBooking" type="tns:booking"/>
              <xs:element minOccurs="0" name="theOrder" type="tns:order"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbCreateBookingResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBookings" type="tns:booking"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbOpenSession">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element name="login" type="xs:string"/>
              <xs:element name="password" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbOpenSessionResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="sessionId" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbCheckAvailability">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element name="canSelectOtherOrders" type="xs:boolean"/>
              <xs:element minOccurs="0" name="checkAvailType" type="tns:checkAvailTypeType"/>
              <xs:element default="true" name="newBooking" type="xs:boolean"/>
              <xs:element minOccurs="0" name="onlyBestSlots" type="tns:onlyBestSlotsValue"/>
              <xs:element minOccurs="0" name="otherOrderPattern" type="tns:orderPattern"/>
              <xs:element minOccurs="0" name="periodBegin" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="periodEnd" type="xs:dateTime"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="resourceIDs" type="xs:string"/>
              <xs:element name="sessionId" type="xs:string"/>
              <xs:element minOccurs="0" name="theOrder" type="tns:order"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theResourceIDContracts" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="orderPattern">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="bookingStatus" type="tns:transactionTypeType"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="customers" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbCheckAvailabilityResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theOtherOrders" type="tns:order"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theResourceIDContracts" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theResourceIDs" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theSlots" type="tns:daySlotsInfo"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="daySlotsInfo">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="day" type="xs:dateTime"/>
              <xs:element default="false" name="nonWorkingDay" type="xs:boolean"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="slotsForDay" type="tns:slotInfo"/>
              <xs:element default="false" name="weeklyDayOff" type="xs:boolean"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="slotInfo">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="available" type="tns:availableValue"/>
              <xs:element minOccurs="0" name="beginDate" type="xs:dateTime"/>
              <xs:element default="false" name="bestSlot" type="xs:boolean"/>
              <xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbSelectBooking">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="bookingStatus" type="tns:transactionTypeType"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="contract" type="xs:string"/>
              <xs:element minOccurs="0" name="returnBookingsFrom" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="returnBookingsPWFrom" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="returnBookingsPWTo" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="returnBookingsTo" type="xs:dateTime"/>
              <xs:element name="sessionId" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBusinessData" type="tns:businessData"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theOrderBusinessData" type="tns:businessData"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theOrderBusinessDataContracts" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="workers" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbSelectBookingResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBookings" type="tns:booking"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:simpleType name="dayOfWeek">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="monday"/>
          <xs:enumeration value="tuesday"/>
          <xs:enumeration value="wednesday"/>
          <xs:enumeration value="thursday"/>
          <xs:enumeration value="friday"/>
          <xs:enumeration value="saturday"/>
          <xs:enumeration value="sunday"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="objectType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="customer"/>
          <xs:enumeration value="serviceOrder"/>
          <xs:enumeration value="job"/>
          <xs:enumeration value="worker"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="sectorPriority">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="PRIMARY"/>
          <xs:enumeration value="SECONDARY"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="responseStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="success"/>
          <xs:enumeration value="failure"/>
          <xs:enumeration value="error"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="transactionTypeType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="PLANNED"/>
          <xs:enumeration value="DESPATCHED"/>
          <xs:enumeration value="RESERVED"/>
          <xs:enumeration value="ACKNOWLEDGED"/>
          <xs:enumeration value="ACCEPTED"/>
          <xs:enumeration value="ARRIVED"/>
          <xs:enumeration value="STARTED"/>
          <xs:enumeration value="COMPLETED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="orderStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="PLANNED"/>
          <xs:enumeration value="STARTED"/>
          <xs:enumeration value="COMPLETED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="alertTypeType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="RESCHEDULEFAILURES"/>
          <xs:enumeration value="SUSPENDEDJOBS"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="typeOfList">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="notaList"/>
          <xs:enumeration value="closedList"/>
          <xs:enumeration value="openList"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="dataTypeType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="string"/>
          <xs:enumeration value="numeric"/>
          <xs:enumeration value="date"/>
          <xs:enumeration value="datetime"/>
          <xs:enumeration value="time"/>
          <xs:enumeration value="bool"/>
          <xs:enumeration value="url"/>
          <xs:enumeration value="fixedUrl"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="bookingResourceLock">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="lockAsSpecified"/>
          <xs:enumeration value="lockAfterSchedule"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="checkAvailTypeType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="standard"/>
          <xs:enumeration value="longPeriod"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="onlyBestSlotsValue">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="no"/>
          <xs:enumeration value="day"/>
          <xs:enumeration value="fullPeriod"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="availableValue">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="NO"/>
          <xs:enumeration value="YES"/>
          <xs:enumeration value="MAYBE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="updateResource" type="tns:updateResource"/>
      <xs:complexType name="updateResource">
        <xs:sequence>
          <xs:element minOccurs="0" name="updateResource" type="tns:xmbUpdateResource"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="updateResourceResponse" type="tns:updateResourceResponse"/>
      <xs:complexType name="updateResourceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbUpdateResourceResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="updateBooking" type="tns:updateBooking"/>
      <xs:complexType name="updateBooking">
        <xs:sequence>
          <xs:element minOccurs="0" name="updateBooking" type="tns:xmbUpdateBooking"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="updateBookingResponse" type="tns:updateBookingResponse"/>
      <xs:complexType name="updateBookingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbUpdateBookingResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="deleteOrder" type="tns:deleteOrder"/>
      <xs:complexType name="deleteOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="deleteOrder" type="tns:xmbDeleteOrder"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="deleteOrderResponse" type="tns:deleteOrderResponse"/>
      <xs:complexType name="deleteOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbDeleteOrderResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="updateBookingCode" type="tns:updateBookingCode"/>
      <xs:complexType name="updateBookingCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="updateBookingCode" type="tns:xmbUpdateBookingCode"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="updateBookingCodeResponse" type="tns:updateBookingCodeResponse"/>
      <xs:complexType name="updateBookingCodeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbUpdateBookingCodeResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="selectAlerts" type="tns:selectAlerts"/>
      <xs:complexType name="selectAlerts">
        <xs:sequence>
          <xs:element minOccurs="0" name="selectAlerts" type="tns:xmbSelectAlerts"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="selectAlertsResponse" type="tns:selectAlertsResponse"/>
      <xs:complexType name="selectAlertsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbSelectAlertsResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="completeOrder" type="tns:completeOrder"/>
      <xs:complexType name="completeOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="completeOrder" type="tns:xmbCompleteOrder"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="completeOrderResponse" type="tns:completeOrderResponse"/>
      <xs:complexType name="completeOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbCompleteOrderResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="selectResource" type="tns:selectResource"/>
      <xs:complexType name="selectResource">
        <xs:sequence>
          <xs:element minOccurs="0" name="selectResource" type="tns:xmbSelectResource"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="selectResourceResponse" type="tns:selectResourceResponse"/>
      <xs:complexType name="selectResourceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbSelectResourceResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="selectMetaData" type="tns:selectMetaData"/>
      <xs:complexType name="selectMetaData">
        <xs:sequence>
          <xs:element minOccurs="0" name="selectMetaData" type="tns:xmbSelectMetaData"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="selectMetaDataResponse" type="tns:selectMetaDataResponse"/>
      <xs:complexType name="selectMetaDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbSelectMetaDataResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="createReservation" type="tns:createReservation"/>
      <xs:complexType name="createReservation">
        <xs:sequence>
          <xs:element minOccurs="0" name="createReservation" type="tns:xmbCreateReservation"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="createReservationResponse" type="tns:createReservationResponse"/>
      <xs:complexType name="createReservationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbCreateReservationResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="updateLocation" type="tns:updateLocation"/>
      <xs:complexType name="updateLocation">
        <xs:sequence>
          <xs:element minOccurs="0" name="updateLocation" type="tns:xmbUpdateLocation"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="updateLocationResponse" type="tns:updateLocationResponse"/>
      <xs:complexType name="updateLocationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbUpdateLocationResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="deleteBooking" type="tns:deleteBooking"/>
      <xs:complexType name="deleteBooking">
        <xs:sequence>
          <xs:element minOccurs="0" name="deleteBooking" type="tns:xmbDeleteBooking"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="deleteBookingResponse" type="tns:deleteBookingResponse"/>
      <xs:complexType name="deleteBookingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbDeleteBookingResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="updateOrder" type="tns:updateOrder"/>
      <xs:complexType name="updateOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="updateOrder" type="tns:xmbUpdateOrder"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="updateOrderResponse" type="tns:updateOrderResponse"/>
      <xs:complexType name="updateOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbUpdateOrderResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="confirmReservation" type="tns:confirmReservation"/>
      <xs:complexType name="confirmReservation">
        <xs:sequence>
          <xs:element minOccurs="0" name="confirmReservation" type="tns:xmbConfirmReservation"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="confirmReservationResponse" type="tns:confirmReservationResponse"/>
      <xs:complexType name="confirmReservationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbConfirmReservationResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="scheduleBooking" type="tns:scheduleBooking"/>
      <xs:complexType name="scheduleBooking">
        <xs:sequence>
          <xs:element minOccurs="0" name="scheduleBooking" type="tns:xmbScheduleBooking"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="scheduleBookingResponse" type="tns:scheduleBookingResponse"/>
      <xs:complexType name="scheduleBookingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbScheduleBookingResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="createOrder" type="tns:createOrder"/>
      <xs:complexType name="createOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="createOrder" type="tns:xmbCreateOrder"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="createOrderResponse" type="tns:createOrderResponse"/>
      <xs:complexType name="createOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbCreateOrderResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="selectOrder" type="tns:selectOrder"/>
      <xs:complexType name="selectOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="selectOrder" type="tns:xmbSelectOrder"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="selectOrderResponse" type="tns:selectOrderResponse"/>
      <xs:complexType name="selectOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbSelectOrderResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="closeSession" type="tns:closeSession"/>
      <xs:complexType name="closeSession">
        <xs:sequence>
          <xs:element minOccurs="0" name="closeSession" type="tns:xmbCloseSession"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="closeSessionResponse" type="tns:closeSessionResponse"/>
      <xs:complexType name="closeSessionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbCloseSessionResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getSchedule" type="tns:getSchedule"/>
      <xs:complexType name="getSchedule">
        <xs:sequence>
          <xs:element minOccurs="0" name="getSchedule" type="tns:xmbGetSchedule"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getScheduleResponse" type="tns:getScheduleResponse"/>
      <xs:complexType name="getScheduleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbGetScheduleResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="createBooking" type="tns:createBooking"/>
      <xs:complexType name="createBooking">
        <xs:sequence>
          <xs:element minOccurs="0" name="createBooking" type="tns:xmbCreateBooking"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="createBookingResponse" type="tns:createBookingResponse"/>
      <xs:complexType name="createBookingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbCreateBookingResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="openSession" type="tns:openSession"/>
      <xs:complexType name="openSession">
        <xs:sequence>
          <xs:element minOccurs="0" name="openSession" type="tns:xmbOpenSession"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="openSessionResponse" type="tns:openSessionResponse"/>
      <xs:complexType name="openSessionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbOpenSessionResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="checkAvailability" type="tns:checkAvailability"/>
      <xs:complexType name="checkAvailability">
        <xs:sequence>
          <xs:element minOccurs="0" name="checkAvailability" type="tns:xmbCheckAvailability"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="checkAvailabilityResponse" type="tns:checkAvailabilityResponse"/>
      <xs:complexType name="checkAvailabilityResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbCheckAvailabilityResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="selectBooking" type="tns:selectBooking"/>
      <xs:complexType name="selectBooking">
        <xs:sequence>
          <xs:element minOccurs="0" name="selectBooking" type="tns:xmbSelectBooking"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="selectBookingResponse" type="tns:selectBookingResponse"/>
      <xs:complexType name="selectBookingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbSelectBookingResponse"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="selectAlerts">
    <wsdl:part element="ns1:selectAlerts" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createBooking">
    <wsdl:part element="ns1:createBooking" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createReservationResponse">
    <wsdl:part element="ns1:createReservationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="openSessionResponse">
    <wsdl:part element="ns1:openSessionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createBookingResponse">
    <wsdl:part element="ns1:createBookingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteOrderResponse">
    <wsdl:part element="ns1:deleteOrderResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteOrder">
    <wsdl:part element="ns1:deleteOrder" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateResource">
    <wsdl:part element="ns1:updateResource" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="scheduleBookingResponse">
    <wsdl:part element="ns1:scheduleBookingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="completeOrder">
    <wsdl:part element="ns1:completeOrder" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateOrderResponse">
    <wsdl:part element="ns1:updateOrderResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="selectResourceResponse">
    <wsdl:part element="ns1:selectResourceResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="selectOrder">
    <wsdl:part element="ns1:selectOrder" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="completeOrderResponse">
    <wsdl:part element="ns1:completeOrderResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="confirmReservation">
    <wsdl:part element="ns1:confirmReservation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateBooking">
    <wsdl:part element="ns1:updateBooking" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateLocation">
    <wsdl:part element="ns1:updateLocation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="selectBookingResponse">
    <wsdl:part element="ns1:selectBookingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createOrderResponse">
    <wsdl:part element="ns1:createOrderResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateResourceResponse">
    <wsdl:part element="ns1:updateResourceResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="selectResource">
    <wsdl:part element="ns1:selectResource" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getSchedule">
    <wsdl:part element="ns1:getSchedule" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateBookingCodeResponse">
    <wsdl:part element="ns1:updateBookingCodeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="scheduleBooking">
    <wsdl:part element="ns1:scheduleBooking" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="selectAlertsResponse">
    <wsdl:part element="ns1:selectAlertsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="selectBooking">
    <wsdl:part element="ns1:selectBooking" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createReservation">
    <wsdl:part element="ns1:createReservation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createOrder">
    <wsdl:part element="ns1:createOrder" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="selectMetaDataResponse">
    <wsdl:part element="ns1:selectMetaDataResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateOrder">
    <wsdl:part element="ns1:updateOrder" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="openSession">
    <wsdl:part element="ns1:openSession" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="closeSession">
    <wsdl:part element="ns1:closeSession" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="confirmReservationResponse">
    <wsdl:part element="ns1:confirmReservationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteBooking">
    <wsdl:part element="ns1:deleteBooking" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="checkAvailabilityResponse">
    <wsdl:part element="ns1:checkAvailabilityResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="closeSessionResponse">
    <wsdl:part element="ns1:closeSessionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateBookingCode">
    <wsdl:part element="ns1:updateBookingCode" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteBookingResponse">
    <wsdl:part element="ns1:deleteBookingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="checkAvailability">
    <wsdl:part element="ns1:checkAvailability" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="selectOrderResponse">
    <wsdl:part element="ns1:selectOrderResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getScheduleResponse">
    <wsdl:part element="ns1:getScheduleResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="selectMetaData">
    <wsdl:part element="ns1:selectMetaData" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateBookingResponse">
    <wsdl:part element="ns1:updateBookingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateLocationResponse">
    <wsdl:part element="ns1:updateLocationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SOAP">
    <wsdl:operation name="updateResource">
      <wsdl:input message="ns1:updateResource" name="updateResource"/>
      <wsdl:output message="ns1:updateResourceResponse" name="updateResourceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateBooking">
      <wsdl:input message="ns1:updateBooking" name="updateBooking"/>
      <wsdl:output message="ns1:updateBookingResponse" name="updateBookingResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteOrder">
      <wsdl:input message="ns1:deleteOrder" name="deleteOrder"/>
      <wsdl:output message="ns1:deleteOrderResponse" name="deleteOrderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateBookingCode">
      <wsdl:input message="ns1:updateBookingCode" name="updateBookingCode"/>
      <wsdl:output message="ns1:updateBookingCodeResponse" name="updateBookingCodeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="selectAlerts">
      <wsdl:input message="ns1:selectAlerts" name="selectAlerts"/>
      <wsdl:output message="ns1:selectAlertsResponse" name="selectAlertsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="completeOrder">
      <wsdl:input message="ns1:completeOrder" name="completeOrder"/>
      <wsdl:output message="ns1:completeOrderResponse" name="completeOrderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="selectResource">
      <wsdl:input message="ns1:selectResource" name="selectResource"/>
      <wsdl:output message="ns1:selectResourceResponse" name="selectResourceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="selectMetaData">
      <wsdl:input message="ns1:selectMetaData" name="selectMetaData"/>
      <wsdl:output message="ns1:selectMetaDataResponse" name="selectMetaDataResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createReservation">
      <wsdl:input message="ns1:createReservation" name="createReservation"/>
      <wsdl:output message="ns1:createReservationResponse" name="createReservationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateLocation">
      <wsdl:input message="ns1:updateLocation" name="updateLocation"/>
      <wsdl:output message="ns1:updateLocationResponse" name="updateLocationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteBooking">
      <wsdl:input message="ns1:deleteBooking" name="deleteBooking"/>
      <wsdl:output message="ns1:deleteBookingResponse" name="deleteBookingResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateOrder">
      <wsdl:input message="ns1:updateOrder" name="updateOrder"/>
      <wsdl:output message="ns1:updateOrderResponse" name="updateOrderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="confirmReservation">
      <wsdl:input message="ns1:confirmReservation" name="confirmReservation"/>
      <wsdl:output message="ns1:confirmReservationResponse" name="confirmReservationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="scheduleBooking">
      <wsdl:input message="ns1:scheduleBooking" name="scheduleBooking"/>
      <wsdl:output message="ns1:scheduleBookingResponse" name="scheduleBookingResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createOrder">
      <wsdl:input message="ns1:createOrder" name="createOrder"/>
      <wsdl:output message="ns1:createOrderResponse" name="createOrderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="selectOrder">
      <wsdl:input message="ns1:selectOrder" name="selectOrder"/>
      <wsdl:output message="ns1:selectOrderResponse" name="selectOrderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="closeSession">
      <wsdl:input message="ns1:closeSession" name="closeSession"/>
      <wsdl:output message="ns1:closeSessionResponse" name="closeSessionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getSchedule">
      <wsdl:input message="ns1:getSchedule" name="getSchedule"/>
      <wsdl:output message="ns1:getScheduleResponse" name="getScheduleResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createBooking">
      <wsdl:input message="ns1:createBooking" name="createBooking"/>
      <wsdl:output message="ns1:createBookingResponse" name="createBookingResponse"/>
    </wsdl:operation>
    <wsdl:operation name="openSession">
      <wsdl:input message="ns1:openSession" name="openSession"/>
      <wsdl:output message="ns1:openSessionResponse" name="openSessionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="checkAvailability">
      <wsdl:input message="ns1:checkAvailability" name="checkAvailability"/>
      <wsdl:output message="ns1:checkAvailabilityResponse" name="checkAvailabilityResponse"/>
    </wsdl:operation>
    <wsdl:operation name="selectBooking">
      <wsdl:input message="ns1:selectBooking" name="selectBooking"/>
      <wsdl:output message="ns1:selectBookingResponse" name="selectBookingResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>