kirona-drs-gateway/src/main/resources/wsdls/soap_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SOAP" targetNamespace="com.xmbrace.OTWebServiceApi.5.2.0.16" xmlns:ns1="http://autogenerated.OTWebServiceApi.xmbrace.com/" xmlns:ns2="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="com.xmbrace.OTWebServiceApi.5.2.0.16" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:import location="soap.wsdl" namespace="http://autogenerated.OTWebServiceApi.xmbrace.com/"/>
  <wsdl:binding name="SOAPSoapBinding" type="ns1:SOAP">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateResource">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateResource">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateResourceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateBooking">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateBooking">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateBookingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteOrder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateBookingCode">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateBookingCode">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateBookingCodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAlerts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="selectAlerts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="selectAlertsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="completeOrder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="completeOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="completeOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectResource">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="selectResource">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="selectResourceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectMetaData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="selectMetaData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="selectMetaDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createReservation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createReservation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createReservationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteBooking">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteBooking">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteBookingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLocation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateLocation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateLocationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateOrder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmReservation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="confirmReservation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="confirmReservationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createOrder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="scheduleBooking">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="scheduleBooking">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="scheduleBookingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectOrder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="selectOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="selectOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="closeSession">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="closeSession">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="closeSessionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSchedule">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSchedule">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getScheduleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBooking">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createBooking">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createBookingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="openSession">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="openSession">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="openSessionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkAvailability">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="checkAvailability">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkAvailabilityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectBooking">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="selectBooking">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="selectBookingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SOAP">
    <wsdl:port binding="tns:SOAPSoapBinding" name="SOAPImplPort">
      <soap:address location="https://###URL###/OTWebServiceGateway_###AccountName###/ws/soap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>